{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
			<div class="row">
				<div class="col-md-6">
					<form class="shadow-lg p-3 mb-5 bg-white rounded">
					<table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td>Global Gym Ghatkopar
								206, 207 & 208 Platinum Mall, Jawahar Rd, Saibaba Nagar, Pant Nagar, Ghatkopar East, Mumbai, Maharashtra 400077</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>9162116223</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>123 7894562</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>shapezone@gmail.com</td>
						</tr>
					</table>
					<form>
				</div>
				<div class="col-md-6" >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.536442435118!2d72.90405097497764!3d19.084108382122174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c62c45024879%3A0xfd75f21403c7d564!2sGlobal%20Gym%20Ghatkopar!5e0!3m2!1sen!2sin!4v1707152608551!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}